*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.mainbox{
    margin: 50px auto;
    background-color: skyblue;
    width: 1000px;
    height: 620px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
hr{
    margin: 0px auto;
    width: 800px;
    color: #454343;
}
.header h1{
   margin: 0px auto;
   width:800px;
   text-align:start;
}
.box{
    display: flex;
    gap: 10px;
    flex-direction: column;
    background-color: #fff;
    width: 800px;
    margin: 0px auto;
    padding: 10px;
}
p{
    width: 300px;
}
.addrress{
    display: flex;
    gap: 10px;
}
.location{
    text-align: center;
    width: 200px;
    color: red;
}
.call{
    color: red;
}
.email{
    color: #084057;
}
.call, .email{
    display: flex;
    gap: 10px;
}
.flex{
    display: flex;
    flex-direction: column;
}
.box1{
    margin: 0px auto;
    background-color: #fff;
    width: 800px;
    height: 450px;
    display: flex;
    padding: 10px 10px;
    justify-content: space-between;
}


.form{
    display: flex;
    flex-direction: column;
   width: 300px;
   gap: 10px;
}
.info, .contact, .msg{
    display: flex;
    gap: 10px;
}
.form input{
    padding: 5px 3px;
}
.msg input{
   height: 100px;
   width: 300px;
   text-align: start;
}
.form button{
    width: fit-content;
    color: #fff;
    background-color: orangered;
    border: 1px solid orangered;
    padding: 5px 8px;
}
.map .root iframe{
    width: 400px;
    height: 370px;
}
.map{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.icon{
    display: flex;
    gap: 20px;
    font-size: 25px;
}
.icon :nth-child(1){
    color: #0e27b4da;
}
.icon :nth-child(2){
    color: #0e74b4da;
}
.icon :nth-child(3){
    color: #1845b7;
}
.icon :nth-child(4){
    color: #000000da;
}